<%= @buildings["buildings"][0]["name"] %>
<br>
<%= @buildings["buildings"][1]["name"] %>
<br>
<%= @buildings["buildings"][2]["name"] %>
<br>
<%= @buildings["buildings"][3]["name"] %>
<br>
<%= @buildings["buildings"][4]["name"] %>
<br>
<%= @buildings["buildings"][5]["name"] %>
<br>
<%= @buildings["buildings"][6]["name"] %>
<br>
<%= @buildings["buildings"][7]["name"] %>
<br>
<%= @buildings["buildings"][8]["name"] %>
<br>
<%= @buildings["buildings"][9]["name"] %>
<br>


<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>